<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>可愛いログインページ</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
<body>
    <div class="container">
    <h1>ログイン</h1>
    <!-- フラッシュメッセージを表示 -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <p class="{{ category }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form method="POST">
      <label>ファミリー名: <input type="text" name="familyname" required placeholder="例: 田中"></label><Br>
      <label>パスワード: <input type="password" name="magicspell" required placeholder="パスワードを入力"></label><Br>
      <button type="submit">ログイン</button>
    </form>
    <p>アカウントをお持ちでないですか？ <a href="{{ url_for('register') }}">新規登録</a></p>

   </div>
</body>
</html>
 